body {
    background-image: url(/static/felt/felt.png);
    text-align: center;
}

.nav {
    color: #f0f0f0;
    padding: 0;
}

ul {
  list-style-type: none;
  color: #485E85;
  text-align: center;
  padding-top: 25px;
}

li {
    text-align: left;
}

h1 {
    color: #494663;
    text-align: center;
}

h3 {
    text-align: center;
    color: #494663;
}
p {
    text-align: center;
}


.fog{

    width: 2000px;
    margin: -25px -50px -25px -50px;
    text-align: center;
   }
.fog img{
    height: 100%;
    width: 100%;
}

#weather-map {
    height: 1200px;
    width: 2100px;
    margin: -150px;
}

.trail-list{
    background-color: #f0f0f0;
    border: 1px solid #494663;
    padding: 25px 100px 25px 100px;
    margin: 5px 200px 100px 200px;
}
.trail{
    background-color: #f0f0f0;
    border: 1px solid #494663;
    padding: 25px 100px 25px 100px;
    margin: 5px 200px 100px 200px;
}

.dog-friendly {
    background-color: #f0f0f0;
    border: 1px solid #494663;
    padding: 25px 100px 25px 100px;
    margin: 5px 200px 100px 200px;
}

.park_list{
    background-color: #f0f0f0;
    border: 1px solid #494663;
    padding: 25px 100px 25px 100px;
    margin: 5px 200px 100px 200px;
}

.park{
    background-color: #f0f0f0;
    border: 1px solid #494663;
    padding: 25px 100px 25px 100px;
    margin: 5px 200px 100px 200px;
}

.search-form{
    background-color: #f0f0f0;
    border: 1px solid #494663;
    padding: 25px 200px 25px 200px;
    margin: 5px 300px 100px 300px;
}


.log-in{
    background-color: #f0f0f0;
    border: 1px solid #494663;
    padding: 25px 100px 25px 100px;
    margin: 5px 200px 100px 200px;
}

.registration{
    background-color: #f0f0f0;
    border: 1px solid #494663;
    padding: 25px 100px 25px 100px;
    margin: 5px 200px 100px 200px;
}

.profile{
    background-color: #f0f0f0;
    border: 1px solid #494663;
    padding: 25px 100px 25px 100px;
    margin: 5px 200px 100px 200px;
}


/*#f0f8ff*/