<!doctype html>
<html>
<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/styles.css"/>
    
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Fog City Hiking</a>
  </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="col-xs-offset-6">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/trail">Trails<span class="sr-only">(current)</span></a></li>
        <li><a href="/park">Parks</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/profile">Profile</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
          aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/trail">Trail List A-Z</a></li>
            <li><a href="/trails-by-city">Trail List by City</a></li>
            <li><a href="/dog-friendly">Dog Friendly Trails</a></li>
            <li><a href="/park">Park List A-Z</a></li>
            <li><a href="/parks-by-city">Park List by City</a></li>
            <li><a href="/search">Search Form</a></li>
            <li><a href="/profile">Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
         <li type="button" class="active">
            {% if "user_id" in session %}
                  <a href="/logout">Logout</a>
                {% else %}
                  <a href="/login">Login</a>
            {% endif %}
          <span class="sr-only">(current)</span></li>
      </ul>
      </div><!--col-offset-->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--Image-->
<div class="container-fluid">  
  <div class="row fog">
    <div class="col-xs-12"><img src="../static/fog_city.jpg"></div>
  </div>
</div> 
<hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}
{% block content %}
    Put your body here.
{% endblock %}
</body>
</html>