{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
  <div class="dog-friendly">
    <div class="row">
      <h1>Fog City Hiking</h1>
    </div>
    <div class="row">
      <h3>Dog Friendly Trails in the Bay Area<h3>
    </div>
    <ul>
      {% for dog in dogs %}
      <div class="row" text-align="center"> 
        <div class="col-xs-offset-3">
          <li><a href="/trail/{{ dog.trail_id }}">{{ dog.trail_name }}</a></li>
        </div>
      </div> 
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}