{% extends 'base.html' %}
{% block content %}

<form action="/login", method="POST">
    <div>
         <label>
            Email: <input type="text" name="email" placeholder="Enter your email address" required></br>
        </label>
    </div>
    <div>
        <label>
            Password: <input type="text" name="password" placeholder="Enter your password" required></br>
        </label>
    </div>
    <div>
        <input type="submit" value="Log In">
    </div>
</form>
<form action="/register">
    <input type="submit" value="Register">
</form>
{% endblock %} 