{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
  <div class="search-form">
    <form action="/login", method="POST">
      <div class="row">
        <input type="text" name="email" placeholder="Enter your email" 
        size="30" required></br>
      </div>
      
      <div class="row">
        <input type="password" name="password" placeholder="Enter your password" 
        size="30" required></br>
      </div>
      
      <div class="row">
        <div class="col-xs-offset-4 col-xs-1">
          <input type="submit" value="Log-In">
        </div>
    </form>
    
    <form action="/register">
      <div class="col-xs-offset-1 col-xs-1">
        <input type="submit" value="Register">
      </div>
    </div>
    </form>
  </div>
</div>

{% endblock %} 

lat: 37.8272, lng: -122.2913