{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
  <div class="parks-by-city">
    
    <div class="row">
      <h1>Fog City Hiking</h1>
    </div>
    <div class="row">
      <h3>All available trails in the Bay Area</h3>
    </div>


    <ul>
    
      {% for key, value in parks.iteritems()|sort %}
      <div class="row" align="center">
        <h2>{{ key }}</h2>
      </div>

        {% for v in value %}
        <div class="row">
          <div class="col-xs-offset-3 col-xs-4">
            {{ v }}
          </div>
        </div>
        {% endfor %}
      {% endfor %} 

    </ul>
  </div>
</div>
{% endblock %}