{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
<div class="park">
  
  <div class="row">
    <h1>{{ park.park_name }}</h1><br>
  </div>
  <div class="row">
    <img src="{{ park_info.image_url }}" alt="park image" width="275px" height="275px">
  </div>
  <div class="row">
    <h3>City: {{ park.city }}</h3><br>
  </div>
  <div class="row">
    <h3>Description</h3>
  </div>
  <div class="row">
    <p>{{ park.description }}</p>
  </div>
  <div class="row">
    <p>Opens: {{ park_info.opens }} Closes: {{ park_info.closes }} Open Now: {{ park_info.open_now }}</p>
  </div>
  <div class="row">
    <p>{{ park_info.rating }}  <img src="/static/web_and_ios/small/small_{{ park_info.rating }}.png"
    height="12px"></p>
  </div>
  <div class="row">
    {% for photo in park_info.photos %}
      <div class="col-xs-4"><img src="{{photo}}" height="128px" width="128px"></div>
    {% endfor %}
  </div>
    <div class="row">
      <h3>Reviews:</h3><br>
    </div>

    {% for park in park_reviews %}
      <div class="row">
        <p>{{ park['text'] }}
        <a href="{{ park['url'] }}"> Reviewer: {{ park['name'] }}Rating: {{ park['rating'] }}
        <img src="/static/web_and_ios/small/small_{{ park['rating']}}.png" height="12px"></a></p>
      </div>
    {% endfor %}
    <div class="row">
        <img src="/static/yelp-logo.png" width="50px" align="right">
    </div>
</div>
</div>
{% endblock %}