{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
  <div class="park_list">
    
    <div class="row">
      <h1>{{ user.first_name }} {{ user.last_name }}'s Hike Log</h1>
    </div>
    
    <div class="row">
      <h3>{{ user.email }}</h3>
    </div>

    <ul>
      {% for hike in hike_log %}
        <div class="row">
          <div class="col-xs-offset-3">
            <li><h4><b>{{hike.trail_name}}</b></h4></li>
          </div>
        </div>
        
        <div class="row">
          <div class="col-xs-offset-3">
            <li>Comments: {{hike.comment}}</li><br>
          </div>
        </div>
        
        <div class="row">
          <div class="col-xs-offset-3">
            <li>Length: {{hike.length}}</li>
          </div>
          <div class="col-xs-offset-3">
            <li>Total elevation is {{hike.intensity}}</li>
          </div>
        </div>
        
        <div class="row">
          <div class="col-xs-offset-3">
            <li>Completed: {{hike.completed}}</li>
            <li>Date: {{hike.date}}</li>
            <li>Rating: {{hike.rating}}</li>
          </div>
        </div>
        
        <div class="row">
          <div class="col-xs-offset-3">
            <li>Temperature: {{hike.temperature}}</li>
            <li>Condition: {{hike.condition}}</li>
          </div>
        </div>   
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

        <li>{{hike_log.Trail.trail_name}}</li>
      <li>{{hike_log.Hike.comment}}</li>
      <li>{{hike_log.Hike.date}} {{hike_log.Hike.completed}} {{hike_log.Hike.rating}}</li>