{% extends 'base.html' %}
{% block content %}

  <h1>Fog City Hiking</h1>

  <h3>Enter Search Parameters Below:</h3>

<!--Search Form-->

  <div class="search-form">
    <form id="search-form" action="/search" method="POST">

      <div class="row">
        <div class="col-xs-12">
          Trail Name: <input type="text" name="trail" placeholder="Enter a trail">
          City: <input type="text" name="city" placeholder="Enter a city">
        </div><!--column-->  
      </div><!--row-->
      <div class="row">
         <div class="col-xs-12">
          Has Restrooms: Yes<input type="radio" name="restroom" value="yes">
          No<input type="radio" name="restroom" value="no">
          Has Parking: Yes<input type="radio" name="parking" value="yes">
          No<input type="radio" name="restroom" value="no">
        </div><!--column-->  
      </div><!--row--> 
          <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
              <input type="submit" value="Search">
            </div>
          </div>
    </form>
     
<!--
         <div class="row">
          <div class="col-xs-4">
            Duration:<select name="duration">
                <option value="Full Day">Full Day</option>
                <option value="Half Day">Half Day</option>
              </select>
          </div>
          
          <div class="col-xs-4">  
            <input type="text" name="length" placeholder="Enter distance in miles">
           </div>

          <div class="col-xs-4">
            Difficulty:<select name="intensity">
              <option value="Easy">Easy</option>
              <option value="Medium">Medium</option>
              <option value="Difficult">Difficult</option>
              <option value="Strenuous">Strenuous</option>
              </select>
          </div>
        </div><
-->

<div>
  <form id="wishlist">
  {% if results %}
    {% for result in results %}
    
    <ul>
      <li>{{result['trail_name']}}<li>
      <li>{{result['description']}}</li>
      <li>Trail Id: <input type="text"  size="4" name="trail-id" 
        value="{{result['trail_id']}}" placeholder="{{result['trail_id']}}"></li>
      <li>Hike Completed: <input type="checkbox" name="completed" value="true">
          Bookmark: <input type="checkbox" name="bookmark" value="true">  </li>
      <li>Date Completed: <input type="text" name="date-completed" placeholder="01/01/2017"></li>
      <li>Temperature: <input type="text" name="temperature" placeholder="75"></li>
      <li>Condition: <input type="text" name="condition" placeholder="Warm and sunny"></li>
      <li>Comment: <textarea name="comment" placeholder="Add a note here"
        rows="4" cols="50" maxlength="400"></textarea></li>
      <li>Rating: 1<input type="radio" value="one"> 2<input type="radio" value="two">
        3<input type="radio" value="three"> 4<input type="radio" value="four">
        5<input type="radio" value="five"></li>
      <br><br>
    </ul>
    
    {% endfor %}
  {% endif %}

  <input type="submit" value="Save">
</form>
</div>
  {% endblock %}


