{% extends 'base.html' %}
{% block content %}

<div class="trail">
  <h1>{{ trail.trail_name }}</h1>
  <img src="{{ trail_info.image_url }}" alt="trail image" width="128px" height="128px">
  <h2>Description</h2>
  <p>{{ trail_info.rating }}  <img src="/static/web_and_ios/small/small_{{trail_info.rating}}.png"
    height="12px"></p>
  
<ul>

  <li>{{ trail_info.photos }}</li>
  
  
  <li>{{ trail_info.open_now }}</li>
  <li>{{ trail_info.opens }}</li>
  <li>{{ trail_info.closes }}</li>

    
  {% for trail in trail_reviews %}
    
    <li>{{ trail['text'] }}</li>
    
    <li><span><a href="{{ trail['url'] }}"> Reviewer: {{ trail['name'] }} </span><span>Rating: {{ trail['rating']}}</span></li> 

  {% endfor %}

</ul>
</div>



{% endblock %}