{% extends 'base.html' %}
{% block content %}

<div class="trail">
  <h1>{{ trail.trail_name }}</h1>
  <img src="{{ trail_info.image_url }}" alt="trail image" width="128px" height="128px">
  <h2>Description</h2>
  <p>{{ trail.description }}</p>
  <ul>
    <li>Distance in miles: {{ trail.length }}  Total elevation change {{ trail.intensity }}</li>
    <li>Opens: {{ trail_info.opens }}Closes: {{ trail_info.closes }}Open Now: {{ trail_info.open_now }}</li>
    
    {% for attribute in attribute_list %}
    
      <li>{{attribute}}</li>
    
    {% endfor %}

  </ul>
  <p>{{ trail_info.rating }}  <img src="/static/web_and_ios/small/small_{{trail_info.rating}}.png" height="12px"></p>
<ul>
  <!--Photos-->
    {% for photo in trail_info.photos %}
    
      <img src="{{photo}}" height="128px" width="128px">
    
    {% endfor %} 
  <!--Map-->
    {% if trail.maps %}  
      <li><img src="{{trail.maps}}.jpg" height="128px"></li>
    {% endif %}  
  <!--Yelp reviews-->
  {% for trail in trail_reviews %}
    
    <li>{{ trail['text'] }}</li>  
    <li><span><a href="{{ trail['url'] }}"> Reviewer: {{ trail['name'] }} Rating: {{ trail['rating']}}
      <img src="/static/web_and_ios/small/small_{{ trail['rating']}}.png" height="12px"></a></span></li> 

  {% endfor %}
  <img src="/static/yelp-logo.png" width="50px" align="right">
</ul>
</div>



{% endblock %}