{% extends 'base.html' %}
{% block content %}

<div class="trail container-fluid">
  <div text-align="center">
  
  <h1>{{ trail.trail_name }}</h1><br>
  <img src="{{ trail_info.image_url }}" alt="trail image" width="275px" height="275px">
    <div class="row">
        <h3>Description</h3>
    </div><br>

    <div class="row">
        <p>{{ trail.description|capitalize }}</p>
    </div>

    <div class="row">
          <p>Distance in miles: {{ trail.length }}&nbsp&nbsp&nbsp&nbspTotal elevation change {{ trail.intensity }}</p>
    </div>

    <div class="row">
          <p>Opens: {{ trail_info.opens }}&nbsp&nbspCloses: {{ trail_info.closes }}&nbsp&nbsp
          Open Now: {{ trail_info.open_now }}</p>
    </div> 
    <div class="row">
        <p>{{ trail_info.rating }}  <img src="/static/web_and_ios/small/small_{{trail_info.rating}}.png" 
        height="12px"></p>
    </div><br>
    <div class="row">
        <h3>At this park:<h3><br>
    </div>

      <div class="row">
        {% for attr in attr1 %} 
          <div class="col-xs-4">
            <li>{{attr}}</li>
          </div>

        {% endfor %}
        {% for attribute in attr2 %}
            <div class="col-xs-4">
              <li>{{attribute}}</li>
            </div>
      
        {% endfor %}
      </div>

    <!--Photos-->
      <div class="row">
        {% for photo in trail_info.photos %}
          <div class="col-xs-4"><img src="{{photo}}" height="128px" width="128px"></div>
        {% endfor %} 
      </div>
    <!--Map-->
    <div class="row">
        {% if trail.maps %}  
          <img src="{{trail.maps}}.jpg" height="128px"></div>
        {% endif %}
    </div>
    <!--Yelp reviews-->
    <div class="row">
        <h3>Reviews:<h3><br>
    </div>
    
    {% for trail in trail_reviews %} 
    <div class="row">
        <p>{{ trail['text'] }}</p>
    </div>
    
    <div class="row">
      <p><a href="{{ trail['url'] }}"> Reviewer: {{ trail['name'] }} Rating: {{ trail['rating']}}
      <img src="/static/web_and_ios/small/small_{{ trail['rating']}}.png" height="12px"></a></p>
    </div>
    {% endfor %}
    <div class="row">
        <img src="/static/yelp-logo.png" width="50px" align="right">
    </div>
    

  </div>
</div>



{% endblock %}